.default-fields {
  /deep/ .u-cell__body {
    height: 112rpx;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /deep/ .u-cell__title-text {
    font-size: 28rpx;
    font-weight: 700;
  }
}

.profile-cell-group {
  background-color: #ffffff;

  /deep/ .u-cell__body {
    height: 120rpx;
  }

  /deep/ .u-cell__title-text {
    font-size: 28rpx;
    font-weight: 500;
  }

  /deep/ .u-cell__value {
    color: #565656;
  }
}
