.default-fields {
  /deep/ .u-cell__body {
    height: 112rpx;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /deep/ .u-cell__title-text {
    font-size: 28rpx;
    font-weight: 700;
  }
}

.profile-cell-group {
  background-color: #ffffff;

  /deep/ .u-cell__body {
    height: 120rpx;
  }

  /deep/ .u-cell__title-text {
    font-size: 28rpx;
    font-weight: 500;
  }

  /deep/ .u-cell__value {
    color: #565656;
  }
}

.white-fields-group {
  background-color: #ffffff;
  border-radius: 12rpx;
  overflow: hidden;
  font-family: 苹方;

  /deep/ input {
    font-family: 苹方;
  }

  /deep/ .u-cell__body {
    height: 112rpx;

    .input-wrapper {
      font-size: 28rpx !important;
      // color: #3c3d41 !important;
      color: #111111 !important;
    }
  }

  /deep/ .u-cell__title-text {
    font-size: 28rpx !important;
    color: #111111 !important;
    font-family: '苹方';
  }

  /deep/ .u-cell__value {
    font-size: 28rpx !important;
    color: #3c3d41 !important;
  }
}

// 订单详情页 + 白色卡片 里面使用
.cell-in-white-card {
  /deep/ .u-cell__body {
    padding: 0 !important;
  }

  /deep/ .u-cell__body__content {
    align-self: start;
  }

  /deep/ .u-cell__title-text {
    font-size: 14px !important;
    line-height: 20px !important;
    color: #6d6d6d !important;
  }

  /deep/ .u-cell__value {
    font-size: 13px !important;
    line-height: 16px !important;
    color: #111111 !important;
    max-width: 70%;
  }

  /deep/ .uicon-arrow-right {
    font-size: 20rpx !important;
  }
}

// 订单详情页 + 白色卡片 + 粗体金额 里面使用
.cell-in-white-card-weight {
  /deep/ .u-cell__body {
    border-bottom: unset !important;
    padding: 0 !important;
  }

  /deep/ .u-cell__title-text {
    font-size: 28rpx !important;
    line-height: 40rpx !important;
    color: #6d6d6d !important;
  }

  /deep/ .u-cell__value {
    font-size: 26rpx !important;
    line-height: 36rpx !important;
    font-weight: 600 !important;
    color: #111111 !important;
    max-width: 70%;
  }

  /deep/ .uicon-arrow-right {
    font-size: 20rpx !important;
  }
}

// 订单详情页 + 白色卡片 + 合计金额 里面使用
.cell-in-white-card-sum {
  /deep/ .u-cell__body {
    border-bottom: unset !important;
    padding: 0 !important;
  }

  /deep/ .u-cell__title-text {
    font-size: 28rpx !important;
    line-height: 40rpx !important;
    font-weight: 600 !important;
    color: #111111 !important;
  }

  /deep/ .u-cell__value {
    font-size: 32rpx !important;
    line-height: 36rpx !important;
    font-weight: 600 !important;
    color: #111111 !important;
    max-width: 70%;
  }
}

// 订单详情页 + 地铁图右侧 灰色卡片 里面使用
.cell-in-gray-card {
  /deep/ .u-cell__body {
    padding: 0 !important;
  }

  /deep/ .u-cell__body__content {
    align-self: start;
  }

  /deep/ .u-cell__title-text {
    font-size: 24rpx !important;
    line-height: 34rpx !important;
    color: #9e9ea0 !important;
  }

  /deep/ .u-cell__value {
    font-size: 24rpx !important;
    line-height: 34rpx !important;
    color: #111111 !important;
    font-weight: 400;
    max-width: 70%;
  }

  &.value-bold {
    /deep/ .u-cell__value {
      font-size: 28rpx !important;
      font-weight: 600 !important;
      line-height: 40rpx !important;
    }
  }

  /deep/ .uicon-arrow-right {
    font-size: 20rpx !important;
  }
}

// 意向订单-确认报价
.cell-in-gray-card-14 {
  /deep/ .u-cell__body {
    padding: 0 !important;
  }

  /deep/ .u-cell__title-text {
    font-size: 28rpx !important;
    line-height: 40rpx !important;
    color: #6d6d6d !important;
  }

  /deep/ .u-cell__value {
    font-size: 28rpx !important;
    line-height: 38rpx !important;
    color: #111111 !important;
    font-weight: 700;
  }

  &.cell-value-sum {
    /deep/ .u-cell__value {
      font-size: 32rpx !important;
      line-height: 46rpx !important;
      font-weight: 700 !important;
    }
  }

  /deep/ .uicon-arrow-right {
    font-size: 20rpx !important;
  }
}

.field-required {
  /deep/ .wrapper {
    position: relative;
  }

  /deep/ .cell-required::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) !important;
    font-size: 28rpx;
    color: #ff1801;
    content: '*';
  }

  /deep/ .u-cell__body {
    height: 100rpx;
    padding-left: 12rpx !important;
    padding-right: 12rpx !important;
  }

  /deep/ .u-cell__title-text {
    font-size: 14px !important;
    line-height: 20px !important;
    color: #111111 !important;
  }

  /deep/ .u-cell__value {
    font-size: 13px !important;
    line-height: 16px !important;
    color: #111111 !important;
    max-width: 70%;
  }
}

.wuliu-field {
  /deep/ .u-cell__body {
    height: 100rpx;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /deep/ .u-cell__title-text {
    font-size: 28rpx;
    color: #000000;
  }

  /deep/ .input-wrapper {
    input {
      font-size: 28rpx;
      color: #000000;
    }

    input::placeholder {
    }
  }
}

.course-register-field {
  /deep/ .u-cell__body {
    height: 100rpx;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /deep/ .u-cell__title-text {
    font-size: 28rpx;
    color: #707070;
  }

  /deep/ .input-wrapper {
    input {
      font-size: 28rpx;
      color: #2d2e32;
    }

    input::placeholder {
    }
  }
}
