.price-wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  color: #111111;
  font-weight: 500;
}
.price-number-10 {
  font-size: 20rpx;
}
.price-number-16 {
  font-size: 32rpx;
}
