.default-tabs {
  /deep/ .u-tabs__wrapper__nav__item {
    align-items: start !important;
    padding-top: 16rpx !important;
    height: 72rpx !important;

    .u-tabs__wrapper__nav__item__text {
      font-size: 32rpx !important;
      line-height: 44rpx !important;
    }
  }

  /deep/ .u-tabs__wrapper__nav__line {
    width: 20rpx !important;
    height: 6rpx !important;
    bottom: 0 !important;
    background-color: #b09053 !important;
    border-radius: 100rpx !important;
  }
}

.tabs-yellow-line-14 /deep/ .u-tabs {
  background-color: #ffffff;

  .u-tabs__wrapper__nav__item {
    height: 72rpx !important;
    flex: 1 1 auto;

    .u-tabs__wrapper__nav__item__text {
      font-size: 28rpx !important;
      font-weight: 500;
    }
  }

  .u-tabs__wrapper__nav__line {
    height: 4rpx !important;
    background-color: #b09053 !important;
    bottom: 0 !important;
  }
}

.tabs-yellow-wide {
  /deep/ .u-tabs {
    background-color: #ffffff;
  }

  /deep/ .u-tabs__wrapper__nav__item {
    background-color: #ffffff !important;
    height: 72rpx !important;

    .u-tabs__wrapper__nav__item__text {
      font-size: 28rpx !important;
      line-height: 28rpx !important;
    }
  }

  /deep/ .u-tabs__wrapper__nav__line {
    opacity: 0.7 !important;
    background-image: linear-gradient(90deg, #e9b81b 0%, #e9b81b00 97.2%) !important;
    border-radius: 14rpx !important;
    bottom: 28rpx !important;
    background-color: unset !important;
  }

  &.full-width {
    /deep/ .u-tabs__wrapper__nav__item {
      flex: 1 1 auto !important;
    }
  }
}

// 购物车页面专用 tabs
.tabs-yellow-wide-cart {
  /deep/ .u-tabs {
    background-color: #ffffff;
  }

  /deep/ .u-tabs__wrapper__nav__item {
    background-color: #ffffff !important;
    justify-content: flex-start !important;
    padding-left: 0;
    padding-right: 60rpx;
  }

  /deep/ .u-tabs__wrapper__nav__line {
    opacity: 0.7 !important;
    background-image: linear-gradient(90deg, #e9b81b 0%, #e9b81b00 97.2%) !important;
    border-radius: 14rpx !important;
    height: 20rpx !important;
    width: 64rpx !important;
    bottom: 32rpx !important;
    // transform: unset!important;
    background-color: unset !important;
  }
}

.tabs-yellow-wide-eq {
  /deep/ .u-tabs {
    background-color: #ffffff;
  }

  /deep/ .u-tabs__wrapper__nav__item {
    background-color: #ffffff !important;

    .u-tabs__wrapper__nav__item__text {
      font-size: 28rpx !important;
      line-height: 28rpx !important;
    }
  }

  /deep/ .u-tabs__wrapper__nav__line {
    opacity: 0.7 !important;
    background-image: linear-gradient(90deg, #e9b81b 0%, #e9b81b00 97.2%) !important;
    border-radius: 14rpx !important;
    height: 20rpx !important;
    width: 64rpx !important;
    bottom: 32rpx !important;
    background-color: unset !important;
  }
}

.u-tabs-border-bottom {
  /deep/ .u-tabs {
    border-bottom: 1rpx solid #e8e8e8;
  }
}

.u-tabs-bg-white {
  /deep/ .u-tabs {
    background-color: #ffffff;
  }
}

.coupon-tabs {
  /deep/ .u-tabs {
    background-color: #ffffff;
    border-bottom: 1rpx solid #e1e1e1;
  }

  /deep/ .u-tabs__wrapper__nav__item {
    .u-tabs__wrapper__nav__item__text {
      font-size: 28rpx;
      line-height: 40rpx;
      color: #6d6d6d;
    }
  }

  /deep/ .u-tabs__wrapper__nav__line {
    width: 88rpx !important;
    height: 6rpx !important;
    bottom: 0 !important;
    background-color: #ff0000;
    border-radius: 0rpx;
  }
}
